* {
    background-color: rgb(154, 7, 7)
}

.container {
    margin-top: 30px;
}

.header {
    display:flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.header > span {
    font-size: 60px;
    font-weight: bold;
}

.loginform {
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.7);
    z-index: 1;
}

.myform {
    position: fixed;
    left: 50%;
    top: 10%;
    transform: translate(-50%, 5%);
    z-index: 9;
    border: 3px solid #999999;
    gap: 5px;
    font-size: 28px;
}

.form-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    padding: 50px;
    background-color: #fff;
    align-items: center;
}

.form-container > span {
    background-color: #fff;
}


.radio, .buttons {
    display: flex;
    gap: 10px;
    background-color: #fff;
}

label {
    background-color: #fff;
}


input {
    width: 50%;
    padding: 7px;
    background-color: #fff;
}

button {
    font-weight: bold;
    margin-top: 10px;
    border-radius: 10px;
    background-color: rgb(213, 208, 208);
    padding: 20px;
    border: black solid 2px;
}

.box {
    display: flex;
    margin-top: 15px;
    gap: 25px;
}