.container {
    margin-top: 20px;
    margin-left: 20px;
}

.container > span {
    font-size: 22px;
    font-weight: bold;
}

.myform {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
    font-size: 18px;
    padding-top: 10px;
}

.radio {
    display: flex;
    justify-self: left;
    gap: 10px;
}


input {
    width: 25%;
}

button {
    font-weight: bold;
    margin-top: 10px;
    border-radius: 7px;
    width: 10%;
    background-color: rgb(227, 225, 225);
    padding: 5px;
}
